.form {
  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  gap: 10px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 335px;
  padding: 10px;
  justify-content: space-between;
}
.input {
  height: 50px;
  margin-bottom: 15px;
}

/* .pet-data x-text div {
  max-width: 335px;
} */
/* .mapboxgl-ctrl {
  display: none;
  overflow: hidden;
} */
